@media print {
    html, body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .no-print {
        display: none;
    }
}

@page {
    size: A4;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('./fonts/robotocondensed.ttf') format('truetype-variations')
}

@font-face {
    font-family: 'Petersburg';
    src: url('./fonts/petersburgcyrillic.ttf') format('truetype-variations')
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Petersburg';
}

#options-background:checked ~ .page {
    background: #F4F2EB url('./images/textures/paper.webp');
    background-size: 210mm 297mm;
    background-position: top left;
}

.page {
    box-sizing: border-box;
    position: relative;

    width: 210mm;
    min-height: 297mm;
    height: 297mm;
    padding: 8mm;

    break-after: page;
    page-break-after: always;
}

#script-not-first-night {
    position: absolute;
    font-family: 'Roboto-Condensed';
    font-weight: 300;
    font-size: 3.5mm;
    right: 8mm;
    top: 16mm;
}

h1 {
    margin: 2mm 0;
}

.page:first-of-type {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

section:first-of-type {
    flex-grow: 3;
}

section.good h3,
#players-count .good {
    color: #06B;
}

section.evil h3,
#players-count .evil {
    color: #A21;
}

#players-count .players {
    color: #764;
}

h2 {
    display: flex;
    text-transform: uppercase;
    font-size: 3.5mm;
}

h2::after {
    content: '';
    width: 100vw;

    position: relative;
    margin-left: 2mm;
    top: 1.4mm;
    
    height: 0.25mm;
    background: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section ul {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

li {
    display: grid;
    width: 97mm;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 5mm;
    row-gap: 1mm;
}

li > img {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 12mm;
    align-self: center;
}

li > h3 {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    font-size: 3.5mm;
    align-self: end;
}

li > p {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    align-self: start;
    font-family: 'Roboto-Condensed';
    font-weight: 300;
    font-size: 3.5mm;
}


#options-columns-1:checked ~ .page li {
    width: 200mm;
    grid-template-columns: 10mm 26mm auto;
    grid-template-rows: auto;
    column-gap: 1mm;
    order: initial !important;
}
#options-columns-1:checked ~ .page li img {
    grid-column: 1;
    grid-row: 1;
    width: 8mm;
}
#options-columns-1:checked ~ .page li h3 {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}
#options-columns-1:checked ~ .page li p {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
}

#players-count {
    border-collapse: collapse;
    width: 170mm;
    margin: 10mm;
    text-align: center;
}

#players-count {
    border: 6px double #764;
}

#players-count th,
#players-count td {
    width: 10mm;
    height: 10mm;
    font-size: 6mm;
    font-weight: 900;
}

#players-count th:first-of-type {
    font-size: 4mm;
    text-align: right;
}
